#left{
    background-color: aqua;
    width: 65%;
    float: left;
}

#right{
    background-color: blue;
    width: 35%;
    float: right;
}

#bottom{
    background-color: black;
    width: 100%;
    height: auto;
    float: none;
}