.layout {
  display: flex;
  height: 100vh;
  background-color: white;
  padding: 0%;
}

header {
  width: 18%;
  background-color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.main {
  display: flex;
  width: 82%;
}