.menu-nation {
  background: #e0e0e0;
  width: 82vw;
  overflow: hidden;
  display: flex;
}

.contenedor_uno,
.contenedor_dos {
  width: 50%;
  box-sizing: border-box;
}

.contenedor_uno img,
.contenedor_dos img {
  display: block;
  margin: 0 auto;
}

#iNat{
  width: 80%;
  margin-top: 30px;
  margin-bottom: 8px;
}


/* .menu-nation {
  background: #e0e0e0;
  width: 100vw;
  overflow: hidden;
  display: flex;
  ali
}

.contenedor_uno,
.contenedor_dos {
  width: 40vw;
  box-sizing: border-box;
  background-color: blue;
}

.contenedor_uno img,
.contenedor_dos img {
  display: block;
  margin: 0 auto;
}

#iNat{
  width: 80%;
  margin-top: 30px;
  margin-bottom: 8px;
}

@media (max-height:200px) {
  
}

/* //propts scss */