.center-reflection {
  width: 47%;
  background-color: #7a7a7a;
  height: 100vh;
  color: aliceblue;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-reflection {
  width: 53%;
  height: 100vh;
  background-color: #e4e4e5;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-reflection {
    width: 90%;
    text-align: justify
}  

title-reflection {
    margin-top: 20px;
    margin-left: 10px;
    color: #393d42;
}